<!-- products.ejs -->

<% for (let i = 0; i < productArray.length; i += 3) { %>
    <div class="row">
      <% for (let j = i; j < i + 3 && j < productArray.length; j++) { %>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src="<%= productArray[j].pImage %>" alt="<%= productArray[j].pName %>">
            <div class="card-body">
              <h5 class="card-title"><%= productArray[j].pName %></h5>
              <p class="card-text"><%= productArray[j].pDescription %></p>
              <div class="d-flex justify-content-between align-items-center">
                <strong class="text-muted">$<%=  productArray[j].pPrice %></strong>
                <small class="text-muted"><%= productArray[j].pCategory %></small>
                <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
      <% } %>
    </div>
  <% } %>